body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 1px pink;
    padding: 20px;
    font-size: 38px;
    color: pink;
}


section{
    background-attachment: white;
}
h1{
    font-size: 32px;
}

p{
    font-size: 20px;
}

img{
    height: 200px;
}